<%- include("partials/_header") %>
<div class="h-screen flex flex-col justify-center items-center gap-4 from-white to-gray-100 bg-gradient-to-br">
    <div class="flex flex-col gap-2 items-center">
        <h1 class="text-5xl font-medium tracking-wide">
            Images<span class="text-gray-700">Bot</span>
        </h1>
        <h2 class="text-xl text-gray-700">AI Image Explorer</h2>
    </div>
    <form class="flex flex-col items-center w-full" method="post" action="/search">
        <input type="text" name="query" autofocus="true" placeholder="<%- placeholder %>" class="shadow-inner text-center w-full max-w-sm p-2 bg-white outline-gray-400 rounded-xl outline-1" />
    </form>
</div>
<%- include("partials/_footer") %>