<a class="text-sm w-full aspect-square bg-gray-50 flex flex-col justify-between gap-6 items-center text-gray-600 hover:scale-110 transition-all p-6 italic" id="<%- result_id %>">
    <span class="h-9/12 line-clamp-3">
        <%- concept.prompt %>
        <%- concept.style %>
    </span>

    <span class="h-3/12">
        <span class="loading htmx-request flex justify-center items-center transition-all ease-in-out aspect-square">
            <span class="loading-animation">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </span>
        </span>
    </span>
</a>