        <script src="/app.js?cb=<%= CACHE_BUST %>"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    </body>
</html>