        <script src="/app.js?cb=<%= CACHE_BUST %>"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-92PXKCLLEY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-92PXKCLLEY');
        </script>
        <script>
            var script = document.createElement('script');
            script.defer = true;
            script.src = "https://s.cac.app/js/script.outbound-links.js";
            script.dataset.domain = "imagesbot.com";

            document.getElementsByTagName('head')[0].appendChild(script);
        </script>
    </body>
</html>