<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/app.css?cb=<%= CACHE_BUST %>" rel="stylesheet" />
        <title>ImagesBot — AI Image Explorer</title>
    </head>

    <body>