<a hx-post="/favorite/<%- result.id %>" hx-target="#favorites" hx-swap="afterbegin" class="w-full aspect-square bg-gray-50 flex justify-center items-center text-gray-600 hover:scale-110 transition-all cursor-pointer">
    <img src="<%- result.image_url %>" />
</a>