@tailwind base;
@tailwind components;
@tailwind utilities;

#concept-loading {
    display: none;
}
.htmx-request #concept-loading {
    display: inline;
}
.htmx-request#concept-loading {
    display: inline;
}

.spinner {
    display: block;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.7);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
